<div class="d-flex justify-content-center mt-5">
    <div class="col-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="d-flex justify-content-center fw- pt-5">
                    <h1 id="logo" class="shadow-sm">RC</h1>
                </div>
                <h5 class="card-title text-center pt-5">Hello!</h5>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ab! Lorem ipsum dolor sit amet.
                </p>
                <%= render "users/form", user: @user %>
            </div>
        </div>
    </div>
</div>
