development:
  adapter: redis
  url: redis://red-ce9h1eta499e1udil7e0:6379

test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV.fetch("REDIS_URL") { "redis://red-ce9h1eta499e1udil7e0:6379" } %>
  channel_prefix: realchatapps_turbo_production
