<!-- <div class="d-flex justify-content-center">
    <div class="dropdown">
        <button id="roomlst" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="dropdwn()">
        Rooms
        </button>
        <ul id="roolst-ul" class="dropdown-menu">
            <%= turbo_stream_from "rooms"%>
            <div id="rooms" >
                <%= render @rooms %>
            </div>
        </ul>
    </div>
    <%= render 'layouts/new_room_form' %>
</div> -->